<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <!-- <h1><u>Simple if-else Condition</u></h1>

    {% if A > B %}
        <h1><i>Inside If Block</i></h1>
        <h1>A is Greater</h1>
    {% else %}
        <h1><i>Inside else Block</i></h1>
        <h1>B is Greater</h1>
    {% endif %} -->

    <!-- <h1><u>if-elif-else Condidion</u></h1>
     
    {% if A > B and A > C %}
        <h1><i>inside if block</i></h1>
        <h1>A is Greater</h1>    
    {% elif B > C %}
        <h1><i>inside elif block</i></h1>
        <h1>B is Greater</h1>     
    {% else %}
        <h1><i>inside else block</i></h1>
        <h1>C is Greater</h1>
    {% endif %} -->

    <h1><u>nested_if-else_condition</u></h1>

    {% if A > B %}
        {% if A > C %}
        <h1>A is Greater</h1>
        {% else %}
        <h1>C is Greater</h1>
        {% endif %}
    {% else %}
        {% if B > C %}
        <h1>B is Greater</h1>
        {% else %}
        <h1>C is Greater</h1>
        {% endif %}
    {% endif %}

    </center>

</body>
</html>